# DATA TYPES

## In programming, data type is an important concept.

## Variables can store data of different types, and different types can do different things.

## Python has the following data types built-in by default, in these categories:

## Text Type:	str
## Numeric Types:	int, float, complex
## Sequence Types:	list, tuple, range
## Mapping Type:	dict
## Set Types:	set, frozenset
## Boolean Type:	bool
## Binary Types:	bytes, bytearray, memoryview
## None Type:	NoneType

# Getting the Data Type

# You can get the data type of any object by using the type() function

In [2]:
x = 5
print(type(x))

<class 'int'>

In [10]:
x = "Hello World"
print(type(x))

x = 20 #int
print(type(x))

x = 20.5 #float
print(type(x))

x = 1j #complex
print(type(x))
x = ["python", "java", "sql"] #list
print(type(x))

x = ("python", "java", "sql") #tuple
print(type(x))

x = range(6) #range
print(type(x))

x = {"name" : "Anurag", "age" : 36} #dict
print(type(x))

x = {"python", "java", "sql"} #set
print(type(x))

x = frozenset({"python", "java", "sql"}) #frozenset
print(type(x))

x = True #bool
print(type(x))

x = b"Hello" #bytes
print(type(x))

x = bytearray(5) #bytearray 
print(type(x))

x = memoryview(bytes(5)) #memoryview
print(type(x))

x = None #NoneType
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

# Setting the Specific Data Type

## If you want to specify the data type, you can use the following constructor functions

In [9]:
x = str("Hello World")
print(x)
print(type(x))

x = int(20)
print(x)
print(type(x))

x = float(20.5)
print(x)
print(type(x))

x = complex(1j)
print(x)
print(type(x))

x = list(("java", "python", "sql"))
print(x)
print(type(x))

x = tuple(("java", "python", "sql"))
print(x)
print(type(x))

x = range(6)
print(x)
print(type(x))

x = dict(name="Anurag", age=36)
print(x)
print(type(x))

x = set(("java", "python", "sql"))
print(x)
print(type(x))

x = frozenset(("java", "python", "sql"))
print(x)
print(type(x))

x = bool(5)
print(x)
print(type(x))

x = bytes(5)
print(x)
print(type(x))

x = bytearray(5)
print(x)
print(type(x))

x = memoryview(bytes(5))
print(x)
print(type(x))

Hello World
<class 'str'>
20
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>
['java', 'python', 'sql']
<class 'list'>
('java', 'python', 'sql')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'Anurag', 'age': 36}
<class 'dict'>
{'python', 'java', 'sql'}
<class 'set'>
frozenset({'python', 'java', 'sql'})
<class 'frozenset'>
True
<class 'bool'>
b'\x00\x00\x00\x00\x00'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x00000194207F54C0>
<class 'memoryview'>

# Python Numbers

## There are three numeric types in Python:
## int,float,complex
## Variables of numeric types are created when you assign a value to them

In [11]:
x = 1  
print(type(x))
y = 2.8
print(type(y))
z = 1j 
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## Int
## Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [12]:
x = 1
print(type(x))
y = 35656222554887711
print(type(y))
z = -3255522
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

## Float
## Float, or "floating point number" is a number, positive or negative, containing one or more decimals.
## Float can also be scientific numbers with an "e" to indicate the power of 10

In [13]:
x = 1.10
print(type(x))
y = 1.0
print(type(y))
z = -35.59
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [14]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Complex

## Complex numbers are written with a "j" as the imagine

In [15]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion

## converting from one type to another with the int(), float(), and complex() methods

In [16]:
x = 1  
y = 2.8  
z = 1j   

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Random Number

## Python does not have a random() function to make a random number. 
## But Python has a built-in module called random that can be used to make random numbers
## Python defines a set of functions that are used to generate or manipulate random numbers through the random module.
## Import the random module, and display a random number between 1 and 9

In [19]:
import random

print(random.randrange(1, 10))

6

# Python Casting

## Specify a Variable Type
## There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

## Casting in python is therefore done using constructor functions:

## int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
## float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
## str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [23]:
x = int(1)   # x will be 1
print(x)
y = str(2)    # y will be '2'
print(y)
z = float("3")   # z will be 3.0
print(z)
w = float("4.2") # w will be 4.2
print(w)

1
2
3.0
4.2

# Python Strings

# Strings in python are surrounded by either single quotation marks, or double quotation marks.
# 'hello' is the same as "hello".

# You can display a string literal with the print() function

In [24]:
print("Hello")
print('Hello')

Hello
Hello

# Assign String to a Variable
# Assigning a string to a variable is done with the variable name followed by an equal sign and the string

In [26]:
a = "Hello"
print(a)

Hello

## Strings are Arrays
## Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
## However, Python does not have a character data type, a single character is simply a string with a length of 1.
## Square brackets can be used to access elements of the string.

In [27]:
a = "Hello, World!"
print(a[1]) #Get the character at position 1 (remember that the first character has the position 0)

e

## Looping Through a String
## Since strings are arrays, we can loop through the characters in a string, with a for loop

In [29]:
for x in "Anurag": #Loop through the letters in the word "banana"
  print(x)

A
n
u
r
a
g

## String Length
## To get the length of a string, use the len() function

In [31]:
a = "My name is Anurag Srivastava!" 
print(len(a)) #The len() function returns the length of a string

29

## Check String
## To check if a certain phrase or character is present in a string, we can use the keyword in

In [32]:
txt = "The life is Amazing!"
print("life" in txt) # Checking if "life" is present in the following text or not

True

In [33]:
# Use it in an if statement
txt = "The life is Amazing!"
if "life" in txt:
  print("Yes, 'life' is present.")

Yes, 'life' is present.

## Check if NOT
## To check if a certain phrase or character is NOT present in a string, we can use the keyword not in

In [34]:
txt = "The life is Amazing!"
print("Cool" not in txt)

True

## Use it in an if statement

In [39]:
txt = "The life is Amazing!"
if " Cool" not in txt:
  print("No, 'Cool' is NOT present.")

No, 'Cool' is NOT present.

## Python - Slicing Strings

In [41]:
#The first character has index 0.
b = "Hello, Anurag!"
print(b[2:5]) #Get the characters from position 2 to position 5 (not included)

llo

# Slice From the Start
## By leaving out the start index, the range will start at the first character

In [42]:
b = "Hello, Anurag!"
print(b[:5]) #Get the characters from the start to position 5 (not included)

Hello

# Python - Modify Strings
## Python has a set of built-in methods that you can use on strings.
## Upper Case

In [46]:
a = "Hello, Anurag!"
print(a.upper()) #The upper() method returns the string in upper case

HELLO, ANURAG!

# Lower Case

In [48]:
a = "Hello, Anurag!"
print(a.lower()) #The lower() method returns the string in lower case

hello, anurag!

# Remove Whitespace
## Whitespace is the space before and/or after the actual text, and very often you want to remove this space

In [50]:
a = " Hello, Anurag! "
print(a.strip()) #returns "Hello, World!"

Hello, Anurag!

# Replace String

In [51]:
a = "Hello, Anurag!"
print(a.replace("H", "J"))

Jello, Anurag!

# Split String
## The split() method returns a list where the text between the specified separator becomes the list items

In [55]:
a = "Hello,Anurag!"
print(a.split(",")) # returns ['Hello', ' Anurag!'] The split() method splits the string into substrings if it finds instances of the separator

['Hello', 'Anurag!']

# Python Booleans
## In programming you often need to know if an expression is True or False.
## You can evaluate any expression in Python, and get one of two answers, True or False.
## When you compare two values, the expression is evaluated and Python returns the Boolean answer

In [57]:
print(10 > 9)
print(10 == 9)
print(10 < 9)
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

True
False
False
b is not greater than a

# Evaluate Values and Variables
## The bool() function allows you to evaluate any value, and give you True or False in return

In [59]:
print(bool("Hello")) #Evaluate a string and a number
print(bool(15))

True
True

In [61]:
x = "Hello"
y = 15

print(bool(x)) #Evaluate two variables
print(bool(y))

True
True

# How to Reverse a String in Python

## There is no built-in function to reverse a String in Python.
## The fastest (and easiest?) way is to use a slice that steps backwards, -1.
## The String to Reverse
## Create a slice that starts at the end of the string, and moves backwards.
## In this particular example, the slice statement [::-1] means start at the end of the string and end at position 0, 
## move with the step -1, negative one, which means one step backwards.

In [62]:
txt = "Hello World"[::-1] #Reverse the string "Hello World"
print(txt)

dlroW olleH

## Create a slice that starts at the end of the string, and moves backwards.
## In this particular example, the slice statement [::-1] means start at the end of the string and end at position 0, 
## move with the step -1, negative one, which means one step backwards.

# Create a Function,

In [64]:
def my_function(x):
  return x[::-1]

mytxt = my_function("I wonder how this text looks like backwards")

print(mytxt)

sdrawkcab ekil skool txet siht woh rednow I