# Pandas Tutorial
## Pandas is a Python library.
## Pandas is used to analyze data.
## Pandas is a Python library used for working with data sets.
## It has functions for analyzing, cleaning, exploring, and manipulating data.
## The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.
## Pandas is an open-source library that is built on top of NumPy library. 
## It is a Python package that offers various data structures and operations for manipulating numerical data and time series.
## It is mainly popular for importing and analyzing data much easier. Pandas is fast and it has high-performance & productivity for users.
## provides various data structures and operations for manipulating numerical data and time series. 
## This library is built on top of the NumPy library. Pandas is fast and it has high performance & productivity for users.
## Pandas allows us to analyze big data and make conclusions based on statistical theories.
## Pandas can clean messy data sets, and make them readable and relevant.
## Relevant data is very important in data science.

# Advantages 
## Fast and efficient for manipulating and analyzing data.
## Data from different file objects can be loaded.
## Easy handling of missing data (represented as NaN) in floating point as well as non-floating point data
## Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects
## Data set merging and joining.
## Flexible reshaping and pivoting of data sets
## Provides time-series functionality.
## Powerful group by functionality for performing split-apply-combine operations on data sets.

# Need to import the library

In [1]:
import pandas as pd

## Pandas gives you answers about the data. Like:
## Is there a correlation between two or more columns
## What is average value
## Max value
## Min value
## Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

## Installation of Pandas
## If you have Python and PIP already installed on a system, then installation of Pandas is very easy.
## Install it using this command:
## C:\Users\Your Name>pip install pandas

In [4]:
import pandas # import statement 

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

## Pandas as pd
## Pandas is usually imported under the pd alias.
## alias: In Python alias are an alternate name for referring to the same thing

In [7]:
## Checking Pandas Version
## The version string is stored under __version__ attribute.
import pandas as pd

print(pd.__version__)

1.3.4

In [ ]:
import pandas as pd

In [67]:
x =pd.read_csv(r'C:\Users\DELL\Downloads\archive\students_adaptability_level_online_education.csv')
print(x)

     Gender    Age Education Level Institution Type IT Student Location  \
0       Boy  21-25      University   Non Government         No      Yes
1      Girl  21-25      University   Non Government         No      Yes
2      Girl  16-20         College       Government         No      Yes
3      Girl  11-15          School   Non Government         No      Yes
4      Girl  16-20          School   Non Government         No      Yes
...     ...    ...             ...              ...        ...      ...
1200   Girl  16-20         College   Non Government         No      Yes
1201   Girl  16-20         College   Non Government         No       No
1202    Boy  11-15          School   Non Government         No      Yes
1203   Girl  16-20         College   Non Government         No       No
1204   Girl  11-15          School   Non Government         No      Yes

     Load-shedding Financial Condition Internet Type Network Type  \
0              Low                 Mid          Wifi           4G
1             High                 Mid   Mobile Data           4G
2              Low                 Mid          Wifi           4G
3              Low                 Mid   Mobile Data           4G
4              Low                Poor   Mobile Data           3G
...            ...                 ...           ...          ...
1200           Low                 Mid          Wifi           4G
1201          High                 Mid          Wifi           4G
1202           Low                 Mid   Mobile Data           3G
1203           Low                 Mid          Wifi           4G
1204           Low                Poor   Mobile Data           3G

     Class Duration Self Lms  Device Adaptivity Level
0               3-6       No     Tab         Moderate
1               1-3      Yes  Mobile         Moderate
2               1-3       No  Mobile         Moderate
3               1-3       No  Mobile         Moderate
4                 0       No  Mobile              Low
...             ...      ...     ...              ...
1200            1-3       No  Mobile              Low
1201            3-6       No  Mobile         Moderate
1202            1-3       No  Mobile         Moderate
1203            1-3       No  Mobile              Low
1204            1-3       No  Mobile         Moderate

[1205 rows x 14 columns]

# Pandas Series

## A Pandas Series is like a column in a table.

## It is a one-dimensional array holding data of any type

In [9]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a) #simple panda series for list [myvar = pd.Series(a)]

print(myvar)

0    1
1    7
2    2
dtype: int64

# Labels
## If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.
## This label can be used to access a specified value.

In [10]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar[0])

1

# Create Labels
## With the index argument, you can name your own labels.

In [12]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

# When you have created labels, you can access an item by referring to the label.
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

# Key/Value Objects as Series
## You can also use a key/value object, like a dictionary, when creating a Series.
## The keys of the dictionary become the labels.

In [16]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

## To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
day3    390
dtype: int64
day1    420
day2    380
dtype: int64

# DataFrames
## Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
## Series is like a column, a DataFrame is the whole table.

In [17]:
import pandas as pd

data = {
  "calories": [420, 380, 390],     #Create a DataFrame from two Series
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

# Pandas DataFrames
# A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [18]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

## Locate Row
## As you can see from the result above, the DataFrame is like a table with rows and columns.
## Pandas use the loc attribute to return one or more specified row(s)
##  When using [], the result is a Pandas DataFrame

In [23]:
#refer to the row index:
print(df.loc[0]) #This example returns a Pandas Series 


#use a list of indexes:
print(df.loc[[0, 1]]) #Return row 0 and 1 &  When using [], the result is a Pandas DataFrame

calories    420
duration     50
Name: 0, dtype: int64
   calories  duration
0       420        50
1       380        40

## Named Indexes
## With the index argument, you can name your own indexes.

In [26]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"]) #Adding a list of names to give each row a name

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

## Locate Named Indexes
## Use the named index in the loc attribute to return the specified row(s).

In [28]:
#refer to the named index:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

# Load Files Into a DataFrame
## If your data sets are stored in a file, Pandas can load them into a DataFrame.

# Pandas Read CSV
# Comma Separated Value

# Read CSV Files
## A simple way to store big data sets is to use CSV files (comma separated files).
## CSV files contains plain text and is a well know format that can be read by everyone including Pandas.
## Excel file has extension of (.xls/.xlsx

## Creating DataFrame from dict of nd array/lists

## To create DataFrame from dict of narray/list, all the narray must be of same length. 
## If index is passed then the length index should be equal to the length of arrays.
## If no index is passed, then by default, index will be range(n) where n is the array length.

In [46]:
# Python code demonstrate creating 
# DataFrame from dict narray / lists 
# By default addresses.
 
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Anurag', 'Abhishek', 'Amresh', 'sunny'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

       Name  Age
0    Anurag   20
1  Abhishek   21
2    Amresh   19
3     sunny   18

# Dealing with Rows and Columns

## A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.
## We can perform basic operations on rows/columns like selecting, deleting, adding, and renaming.
## Column Selection: In Order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

In [47]:
import pandas as pd # Import pandas package
 
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], # Define a dictionary containing employee data
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

df = pd.DataFrame(data)   # Convert the dictionary into DataFrame 
print(df[['Name', 'Qualification']]) # select two columns

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

## Row Selection: Pandas provide a unique method to retrieve rows from a Data frame. DataFrame.
## loc[] method is used to retrieve rows from Pandas DataFrame. 
## Rows can also be selected by passing integer location to an iloc[] function.

# Working with Missing Data
## Missing Data can occur when no information is provided for one or more items or for a whole unit.
## Missing Data is a very big problem in real life scenario.
## Missing Data can also refer to as NA(Not Available) values in pandas.

## Checking for missing values using isnull() and notnull() :
## In order to check missing values in Pandas DataFrame, we use a function isnull() and notnull(). 
## Both function help in checking whether a value is NaN or not. 
## These function can also be used in Pandas Series in order to find null values in a series.

In [68]:
# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
 
# using isnull() function  
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

# Filling missing values using fillna(), replace() and interpolate() :
## In order to fill null values in a datasets, we use fillna(), replace() and interpolate() function these function replace NaN values with some value of their own.
## All these function help in filling a null values in datasets of a DataFrame.
## Interpolate() function is basically used to fill NA values in the dataframe but it uses various interpolation technique to fill the missing values rather than hard-coding the value.

In [69]:
# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# filling missing value using fillna()  
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

# Dropping missing values using dropna() :
## In order to drop a null values from a dataframe, we used dropna() function this fuction drop Rows/Columns of datasets
## with Null values in different ways.

In [70]:
# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
   
df

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0

# Now we drop rows with at least one Nan value (Null value)

In [71]:
# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# using dropna() function  
df.dropna()

   First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0           98          65.0

# Iterating over rows and columns

# Iteration is a general term for taking each item of something, one after another. 
## Pandas DataFrame consists of rows and columns so, in order to iterate over dataframe, we have to iterate a dataframe like a dictionary.
# Iterating over rows :
## In order to iterate over rows, we can use three function iteritems(), iterrows(), itertuples() .
## These three function will help in iteration over rows.

In [73]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["aparna", "anurag", "sudhir", "rajesh"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
 
print(df)

     name  degree  score
0  aparna     MBA     90
1  anurag     BCA     40
2  sudhir  M.Tech     80
3  rajesh     MBA     98

# Now we apply iterrows() function in order to get a each element of rows.

In [74]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
 
# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

0 name      aparna
degree       MBA
score         90
Name: 0, dtype: object

1 name      pankaj
degree       BCA
score         40
Name: 1, dtype: object

2 name      sudhir
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Geeku
degree      MBA
score        98
Name: 3, dtype: object

# Iterating over Columns :
In order to iterate over columns, we need to create a list of dataframe columns and  
then iterating through that list to pull out the dataframe columns.

In [77]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
dict = {'name':["shaivya", "anurag", "niharika", "sonakshi"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
 
print(df)
# Now we iterate through columns in order to iterate through columns we first create a list of dataframe columns and then iterate through list.
# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
 
    # printing the third element of the column
    print (df[i][2])

       name  degree  score
0   shaivya     MBA     90
1    anurag     BCA     40
2  niharika  M.Tech     80
3  sonakshi     MBA     98
niharika
M.Tech
80

# DataFrame Methods:

## FUNCTION DESCRIPTION
## index()Method returns index (row labels) of the DataFrame
## insert()Method inserts a column into a DataFrame
## add()Method returns addition of dataframe and other, element-wise (binary operator add)
## sub()Method returns subtraction of dataframe and other, element-wise (binary operator sub)
## mul()Method returns multiplication of dataframe and other, element-wise (binary operator mul)
## div()Method returns floating division of dataframe and other, element-wise (binary operator truediv)
## unique()Method extracts the unique values in the dataframe
## nunique()Method returns count of the unique values in the dataframe
## value_counts()Method counts the number of times each unique value occurs within the Series
## columns()Method returns the column labels of the DataFrame
## axes()Method returns a list representing the axes of the DataFrame
## isnull()Method creates a Boolean Series for extracting rows with null values
## notnull()Method creates a Boolean Series for extracting rows with non-null values
## between()Method extracts rows where a column value falls in between a predefined range
## isin()Method extracts rows from a DataFrame where a column value exists in a predefined collection
## dtypes()Method returns a Series with the data type of each column. The result’s index is the original DataFrame’s columns
## astype()Method converts the data types in a Series
## values()Method returns a Numpy representation of the DataFrame i.e. only the values in the DataFrame
will be returned, the axes labels will be removed
## sort_values()Set1, Set2	Method sorts a data frame in Ascending or Descending order of passed Column
## sort_index()Method sorts the values in a DataFrame based on their index positions or labels instead of their
values but sometimes a data frame is made out of two or more data frames and hence later index can be changed using this method
## loc[]Method retrieves rows based on index label
## iloc[]Method retrieves rows based on index position
## ix[]Method retrieves DataFrame rows based on either index label or index position.
This method combines the best features of the .loc[] and .iloc[] methods
## rename()Method is called on a DataFrame to change the names of the index labels or column names
## columns()Method is an alternative attribute to change the coloumn name
## drop()Method is used to delete rows or columns from a DataFrame
## pop()Method is used to delete rows or columns from a DataFrame
## sample()Method pulls out a random sample of rows or columns from a DataFrame
## nsmallest()Method pulls out the rows with the smallest values in a column
## nlargest()Method pulls out the rows with the largest values in a column
## shape()Method returns a tuple representing the dimensionality of the DataFrame
## ndim()Method returns an ‘int’ representing the number of axes / array dimensions.
## Returns 1 if Series, otherwise returns 2 if DataFrame
## dropna()Method allows the user to analyze and drop Rows/Columns with Null values in different ways
## fillna()Method manages and let the user replace NaN values with some value of their own
## rank()Values in a Series can be ranked in order with this method
## query()Method is an alternate string-based syntax for extracting a subset from a DataFrame
## copy()Method creates an independent copy of a pandas object
## duplicated()Method creates a Boolean Series and uses it to extract rows that have duplicate values
## drop_duplicates()Method is an alternative option to identifying duplicate rows and removing them through filtering
## set_index()Method sets the DataFrame index (row labels) using one or more existing columns
## reset_index()Method resets index of a Data Frame. This method sets a list of integer ranging from 0 to length of data as index
## where() Method is used to check a Data Frame for one or more condition and return the result accordingly. By default, the rows not satisfying the condition are filled with NaN value

# Creating a Pandas DataFrame

In the real world, a Pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. 
Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc. 
A Dataframe is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. In dataframe datasets arrange in rows and columns, we can store any number of datasets in a dataframe. We can perform many operations on these datasets like arithmetic operation, columns/rows selection, columns/rows addition etc. 
# Creating an empty dataframe : 
A basic DataFrame, which can be created is an Empty Dataframe. An Empty Dataframe is created just by calling a dataframe constructor.

In [78]:

# import pandas as pd
import pandas as pd
 
# Calling DataFrame constructor
df = pd.DataFrame()
 
print(df)

Empty DataFrame
Columns: []
Index: []

# Creating a dataframe using List: 
DataFrame can be created using a single list or a list of lists.

In [80]:
# import pandas as pd
import pandas as pd
 
# list of strings
lst = ['Python', 'is', 'most', 'popular',
            'language']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

          0
0    Python
1        is
2      most
3   popular
4  language

# Creating DataFrame from dict of ndarray/lists: 
To create DataFrame from dict of narray/list, all the narray must be of same length.
If index is passed then the length index should be equal to the length of arrays.
If no index is passed, then by default, index will be range(n) where n is the array length.

In [81]:
import pandas as pd
 
# initialise data of lists.
data = {'Name':['anurag', 'vivek', 'abhishek', 'jitesh'], 'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

       Name  Age
0    anurag   20
1     vivek   21
2  abhishek   19
3    jitesh   18

# Create pandas dataframe from lists using dictionary: 
Creating pandas data-frame from lists using dictionary can be achieved in different ways.
We can create pandas dataframe from lists using dictionary using pandas.DataFrame.
With this method in Pandas we can transform a dictionary of list to a dataframe.

In [84]:
# importing pandas as pd
import pandas as pd
 
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "rajesh"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
df = pd.DataFrame(dict)
 
print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3  rajesh     MBA     98